body,ul,p,h1,h2,h3 {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
body {
    background-color: #EFEFEF
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1620px;
    margin: auto;
}
.header {
    padding-bottom: 32px;
    padding-top: 32px;
    background-color: #121212;
}
.header-list {
    display: flex;
    gap: 100px;
    align-items: center;
    text-transform: uppercase;
}
.header-link {
    color: white;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
}
.header-link:hover {
    color: #B2FFA6;
}
.hero {
    background-color: white;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 346px;
}
.hero-title {
    font-size: 63px;
    padding-bottom: 50px;
    text-transform: capitalize;
}
span {
    font-weight: 400;
    padding-bottom: 20px;
    display: inline-block;
}
.hero-link {
    padding: 15px 80px;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    border: 1px;
    border-radius: 5px;
    background-color: #B2FFA6;
    color: black;
    text-transform: uppercase;
    display: inline-block;
}
.aboutus {
    background-color: #EFEFEF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.aboutus-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
}
.aboutus-title {
    font-size: 40px;
    padding-bottom: 30px;
}
.aboutus-text {
    font-size: 32px;
    padding-bottom: 60px;
}
.aboutus-link {
    padding: 15px 80px;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    border: 1px;                        
    border-radius: 5px;
    background-color: #B2FFA6;
    color: black;
    text-transform: uppercase;
}
 .employees {
    background-color: white;
    padding: 60px 0;
}
.employees-container {
    display: flex;
    gap: 174px;
    align-items: center;
}
.employees-list {
    display: flex;
    gap: 115px;
    flex-wrap: wrap;
    align-items: center;
}
.employees-listwrap {
    padding-left: 28px;
}
.employees-item {
    display: flex;
    width: 407px;
}
.employees-subtitle {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 25px;
}
.employees-text {
    color: black;
    font-size: 24px;
}
.employees-img {
    width: 50px;
    height: 50px;
    padding-right: 8px;
}
.services {
    background-color: #EFEFEF;
    text-align: center;
    padding: 60px 0;
}
.services-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}
.services-text {
    font-size: 32px;
    padding-bottom: 56px;
}
.services-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.services-img {
    padding-bottom: 25px;
}
.services-subtitle {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}
.services-link {
    padding: 15px 80px;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    border: 3px solid #B2FFA6;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    margin-top: 80px;
    display: inline-block;
}
.footer {
    background-color: #121212;
    padding: 36px 0;
}
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-title {
    color: white;
    font-size: 24px;
    font-weight: 400;
}